<launch>
	<arg name="Frequency"	default="1"/>
	<arg name="Message"	default="Hi! Default Message!"/>

	<param name="Custom_Frequency" value="$(arg Frequency)"> </param>
	<param name="Custom_Message" value="$(arg Message)"> </param>
	<!--
	<env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find beginner_tutorials)/config/custom.conf"/>
	-->
	<node 
	     name="talker"
	     pkg="beginner_tutorials"
             type="talker"
             output="screen"
	     launch-prefix="gnome-terminal --command"

        />
		
	<node
             name="listener"
             pkg="beginner_tutorials"
             type="listener"
             output="screen"
	     launch-prefix="gnome-terminal --command"
	/>

	<node
             name="Rosbag_Record"
             pkg="rosbag"
             type="record"
             args="--all --output-name=$(find beginner_tutorials)/results/rosbag_output.bag"
             if="$(arg record)"
         />

</launch>
